/.vs/SettlementConfigurations/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
/DEV/.vs/config/applicationhost.config
*.suo
/DEV/.vs/slnx.sqlite
/DEV/.vs/VSWorkspaceState.json
/Local/.vs
/PostmanConfigurations/.vs
/QA/.vs/slnx.sqlite
/QA/.vs/VSWorkspaceState.json
/Sandbox/.vs/slnx.sqlite
/Sandbox/.vs/VSWorkspaceState.json
/QA/.vs/config/applicationhost.config

#ignore intellij
.idea
.DS_Store
QA/.DS_Store
/QA/microfrontends/.vs

bin/
debug/
.vs/
obj/
.suo/*